/* 
body 
.nav-item a
img
*/

body {
    background-color: lightgray;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    background-color:lightblue;
}

img {
    -webkit-filter: blur(5px); 
    filter: blur(3px);
}

img:hover {
    opacity: .8;
    color
}