/*
//body
.businesses
.ame
*/



body{
    background: lightgray;
    margin: 0px;
    /*background: url(https://i.pinimg.com/originals/4d/43/0d/4d430d47b3a7b20d57f17257193d8f78.jpg);
    background-size: 100%;*/
}

.container {
    padding: 0px;
}

/*h1 {
    background-color: blue;
}*/

.businesses {
    /*background-color: red;*/
    /*background-color: lightgray;*/
    width: 300px;
    height: 150px;
    margin: 50px;
    padding-top: 50px;
}

.businesses :hover {
    opacity: .3;
}

.list ul {
    list-style: none;
    display: inline-grid;
}

.name {
    font-size: 30px;
    /*background-color: green;*/
    width: 300px;
    text-align: center;
}

.type {
    font-size: 15px;
    /*background-color: yellow;*/
    width: 300px;
    text-align: center;
}

.location {
    font-size: 15px;
    /*background-color: brown;*/
    width: 300px;
    text-align: center;
}
