/*
//body
.mid
.card
//h1
//p
.navbar

*/


body{
    background: lightgrey;
    margin: 0px;
    
}

.mid {
    margin-left: 100px;
}

/*h1 {
    color: black;
}

p {
    color: black;
}*/

.list img {
    
    height: 250px;
}

.card {
   margin: 30px;
}

.navbar {
    background-color: lightgray;
}

.jumbotron {    
    background: lightgray;
}

.jumbotron-fluid ul {
    list-style: none;
}